ipywidgets~=8.0

numpy~=1.23
scipy~=1.9
scikit-learn~=1.1
pandas~=1.4
seaborn~=0.12
matplotlib~=3.5
plotly~=5.10
sympy~=1.11
scikit-image~=0.19

h5py~=3.7

nltk~=3.7
ply~=3.11

numba~=0.56
Cython~=0.29